// COLOR VARIABLES

$green: #00bc77;
$purple: #12002b;
$grey-blue: #2c3e50;

// FONT VARIABLES

$font-primary: "Mulish", Helvetica, Arial, sans-serif;
$font-body-size: 1rem;

// RESPONSIVE BREAKPOINTS

$bp-tablet: 810px;
$bp-phone: 550px;
